<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random Story</title>
</head>
<body>
<div>
    <p>
        <a href={{ i[0] }}>{{ i[0] }}</a>
    </p>
    <p>Tags: {{ data[i[0]]["story tags"] }}</p>
    <p>Author:
        <a href=https://mcstories.com/Authors/{{ i[1] }}>
            {{ data[i[0]]["author"] }}
        </a>
    </p>
    <p>Word Count: {{ data[i[0]]["word count"] }}</p>
    {% for j in data[i[0]]["chapters"] %}
    <p>
        <a href=https://mcstories.com{{ j[0] }}>{{ j[1] }}</a>
    </p>
    {% endfor %}
    <p>Date Added: {{ data[i[0]]["date added"] }}</p>
    <p>Date Updated: {{ data[i[0]]["date updated"] }}</p>
    <p>Summary: {{ data[i[0]]["description"] }}</p>
    <form method="GET">
        <fieldset name="tags">
            <input type="submit" label="Random Story">
            <h2>Include Tags:</h2>
            {% for tag in tags %}
            <p>
                <input type="checkbox" name="{{ tag }}" value="{{ tag }}"><label for="{{ tag }}">{{ tags[tag] }}</label>
            </p>
            {% endfor %}
        </fieldset>
        <fieldset name="tags-rem">
            <h2>Exclude Tags:</h2>
            {% for tag in tags %}
            <p>
                <input type="checkbox" name="{{ tag }}-rem" value="{{ tag }}-rem"><label for="{{ tag }}-rem">{{ tags[tag] }}</label>
            </p>
            {% endfor %}
        </fieldset>
    </form>
</div>
</body>
</html>